* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Layout */

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    height: 30px;
    background-color: black; 
    display: flex;
    justify-content: flex-end;
}

.container-main {
    background-color: black;
    height: 100vh;
    max-width: 100%;
    overflow-y: auto;    
}

.col-10 {
    padding: 5px;
}

.col-14 {
    width: 187px;
    position: relative;
    left: 20px;
    padding-top: 8px;
}

/* Content */

.content {
    display: inline-block;
    font-size: 11px;
    text-align: center;
    color: #fff;
    background-color: rgb(96, 96, 96);
    opacity: 80;
    border-radius: 2px;
    padding: 2px;
}

.content-main {
    position: relative;
    top: 40%;
    left: 20%;
}

img {
    width: 180px;
    height: 105px;
}
